{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <div class="box">
            <h1 class="title gradient">404 - Seite nicht gefunden :(</h1>
            <p>
                Die angeforderte Seite konnte leider nicht gefunden werden. Vielleicht ist der Link fehlerhaft?
                Treten die Probleme weiterhin auf?
                <br><br>
                
                <div class="field">
                    <p class="control">
                        <a class="button is-link" href="{{Config.Contact.FeedbackForm}}" target="_blank"><span class="warning-icon has-background-white mr-1"></span> <span>Fehler melden</span></a>
                    </p>
                </div>
            </p>
            <div class="content">
            <p>
                <b>Folgende Inhalte gibt es auf dieser Webseite:</b>
            </p>
            <ul>
                <li>
                    <a href="{{BasePath "/"}}">Eine Liste regionaler Laufveranstatungen</a>
                </li>
                <li>
                    <a href="{{BasePath "/lauftreffs.html"}}">Eine Liste regionaler Lauftreffs und Laufgruppen</a>
                </li>
                <li>
                    <a href="{{BasePath "/shops.html"}}">Eine Liste regionaler Geschäfte mit Laufsportbezug</a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</section>

{{template "footer.html" .}}