<div class="column is-half">
    <div class="card" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <header class="card-header is-flex-direction-column">
            {{if .Cancelled}}
            <a class="button is-danger is-fullwidth is-radiusless" href="/{{.Slug}}" itemprop="item">
                <span class="icon"><i class="info-icon"></i></span>
                <span itemprop="name">{{.Name}}</span>
            </a>
            <a class="button is-danger is-small is-fullwidth is-radiusless" href="/{{.Slug}}">
                <span>(abgesagt)</span>
            </a>
            {{else if .New}}
            <a class="button is-success is-fullwidth is-radiusless" href="/{{.Slug}}" itemprop="item">
                <span class="icon"><i class="info-icon"></i></span>
                <span itemprop="name">{{.Name}}</span>
            </a>
            <a class="button is-success is-small is-fullwidth is-radiusless" href="/{{.Slug}}">
                <span>(neu hinzugefügt)</span>
            </a>
            {{else}}
            <a class="button is-info is-fullwidth is-radiusless" href="/{{.Slug}}" itemprop="item">
                <span class="icon"><i class="info-icon"></i></span>
                <span itemprop="name">{{.Name}}</span>
            </a>
            {{end}}
        </header>
        <div class="card-content">
            <div class="content">
                <table class="table is-narrow">
                    {{if .Time}}<tr><th class="w-2em no-border" title="Datum">📅</th><td class="no-border">{{.Time}}</td></tr>{{end}}
                    <tr>
                        <th class="w-2em no-border" title="Ort">🗺</th>
                        <td class="no-border">
                        {{if .Geo}}<a href="https://www.google.com/maps/place/{{.Geo}}" target="_blank">{{.Location}}</a> (<span title="Distanz und Richtung von Freiburg Zentrum">{{.Distance}} {{.Direction}}</span>){{else}}{{.Location}}{{end}}
                        </td>
                    </tr>
                    {{if .Details}}<tr><th class="w-2em no-border" title="Details">ℹ️</th><td class="no-border">{{.Details}}</td></tr>{{end}}
                    {{if .Reports}}<tr>
                        <th class="w-2em no-border" title="Infos">🔗</th>
                        <td class="no-border">
                            {{range .Reports}}<a class="tag is-link is-light mr-2" href="{{.Url}}" target="_blank">{{.Name}}</a>{{end}}
                        </td>
                    </tr>{{end}}
                </table>
            </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    <a href="{{.Url}}" target="_blank">{{.LinkTitle}}</a>
                </span>
            </p>
        </footer>
    </div>
</div>