{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title">freiburg.run Club</h1>
        <h2 class="subtitle">Die Lauf-Community rund um freiburg.run</h2>

        <p>
            Der <emph>freiburg.run Club</emph> ist eine lose Gemeinschaft von Nutzern und Freunden von freiburg.run.
        </p>
    </div>
</section>  

<section class="section">
    <div class="container is-max-desktop">
        <h2 class="subtitle">Community-Läufe</h2>

        <p>
            Bisher gibt es einen regelmäßigen Lauftermin:
        </p>

        <table class="table">
            <tr><td><b>Wann?</b></td><td>Donnerstags, 18:30 Uhr</td></tr>
            <tr><td><b>Treffpunkt?</b></td><td>Eingang zum HOKK-Kiosk am Dreisamradweg (<a href="https://maps.app.goo.gl/pt2mdHYkJ67QHrv78" target="_blank">Google Maps</a>)</td></tr>
            <tr><td><b>Strecke?</b></td><td>St. Ottilien + Hirzberg, ca. 8km, 200hm, Waldwege & Trails (<a href="https://www.komoot.com/de-de/tour/2488345131" target="_blank">Strecke bei Komoot</a>); je nach Nachfrage kann es in Zukunft auch weitere Strecken geben.</td></tr>
            <tr><td><b>Voraussetzungen?</b></td><td>Jeder ist willkommen mitzulaufen; gute Grundlagenausdauer und ein wenig Berg/Trail-Erfahrung werden vorausgesetzt. Zur besseren Einschätzung: Hier ist meine <a href="https://www.strava.com/activities/15458636087">Strava-Aktivität</a> vom ersten Termin am 14.8.</td></tr>
            <tr><td><b>Sonstiges</b></td><td>Beim <a href="https://ft1844-freiburg.de/hotel-gastronomie" target="_blank">HOKK-Kiosk</a> gibt es diverse Getränke und Snacks; Toiletten sind vorhanden. Im Anschluss an den Lauf kann man dort noch gemeinsam etwas trinken.</td></tr>
            <tr><td><b>Kontakt</b></td><td>Bei Fragen gerne per Mail <a href="mailto:info@freiburg.run">info@freiburg.run</a> oder über das <a href="{{.FeedbackFormUrl}}" target="_blank">Kontaktformular</a> melden.</td></tr>
        </table>

        <div id="event-map" data-geo="47.991304,7.883822" data-name="Treffpunkt"></div>
    </div>
</section>

{{template "footer.html" .}}