{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title">freiburg.run Club</h1>
        <h2 class="subtitle">Community Läufe</h2>

        <p>
            Bisher gibt es einen regelmäßigen Lauftermin:
        </p>
        <ul>
            <li><b>Wann?</b> Donnerstags, 18:30 Uhr</li>
            <li><b>Treffpunkt?</b> Eingang zum Hokk-Kiosk am Dreisamradweg (<a href="https://maps.app.goo.gl/pt2mdHYkJ67QHrv78" target="_blank">Google Maps</a>)</li>
            <li><b>Strecke?</b> St. Ottilien + Hirzberg, ca. 8km, 200hm, Waldwege & Trails (<a href="https://www.komoot.com/de-de/tour/2488345131" target="_blank">bei Komoot</a>)</li>
            <li><b>Voraussetzungen?</b> Jeder ist willkommen mitzulaufen; gute Grundlagenausdauer und ein wenig Berg/Trail-Erfahrung werden vorausgesetzt</li>
            <li>Im Anschluss an den Lauf kann man beim Hokk-Kiosk noch gemeinsam etwas trinken</li>
        </ul>

        <div id="event-map" data-geo="47.991304,7.883822" data-name="Treffpunkt"></div>
    </div>
</section>

{{template "footer.html" .}}