{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title">{{Config.Website.Name}} Club</h1>
        <h2 class="subtitle">Die Lauf-Community rund um {{Config.Website.Name}}</h2>

        <p>
            Der <emph>{{Config.Website.Name}} Club</emph> ist eine lose Gemeinschaft von Nutzern und Freunden von {{Config.Website.Name}}.
        </p>

        <p>
            Wir sind auf folgenden Plattformen aktiv - schau gerne vorbei und folge uns für aktuelle Infos:
        </p>
        <div class="content">
            <ul>
                <li><a href="{{Config.Contact.Whatsapp}}" target="_blank">WhatsApp-Community</a></li>
                <li><a href="https://www.instagram.com/freiburg.run/" target="_blank">Instagram</a></li>
                <li><a href="https://www.strava.com/clubs/freiburg-run" target="_blank">Strava-Club</a></li>
                <li><a href="https://freiburg.social/@freiburg_run" target="_blank">Mastodon</a></li>
            </ul>
        </div>
    </div>
</section>  

<section class="section">
    <div class="container is-max-desktop">
        <h2 class="subtitle">Die nächsten Lauf-Termine</h2>
        <div class="content">
            <ul>
                <li>30.10.2025 / 18:30 Uhr, Sandfangbrücke: <b>Regulärer Community-Run</b>, Stirnlampe/Lauflampe nicht vergessen!</li>
                <li>06.11.2025 / 18:30 Uhr, Sandfangbrücke: <b>Regulärer Community-Run</b>, Stirnlampe/Lauflampe nicht vergessen!</li>
                <li>13.11.2025 / 18:30 Uhr, Sandfangbrücke: <b>Regulärer Community-Run</b>, Stirnlampe/Lauflampe nicht vergessen!</li>
                <li>20.11.2025 / 18:30 Uhr, Sandfangbrücke: <b>Regulärer Community-Run</b>, Stirnlampe/Lauflampe nicht vergessen!</li>
            </ul>
        </div>
    </div>
</section>  

<section class="section">
    <div class="container is-max-desktop">
        <h2 class="subtitle">Community-Run</h2>

        <table class="table">
            <tr><td><b>Wann?</b></td><td>Donnerstag, 18:30 Uhr</td></tr>
            <tr><td><b>Treffpunkt?</b></td><td>Sandfangbrücke an der Dreisam (<a href="https://maps.app.goo.gl/uWuFAWQL9YSi6MMc8" target="_blank">Google Maps</a>)</td></tr>
            <tr><td><b>Aktuelle Strecke</b></td><td>Waldsee, Littenweiler, Dreisam, ca. 8km, 100hm, Straßen, Waldwege (<a href="https://www.komoot.com/de-de/tour/2520166594" target="_blank">Strecke bei Komoot</a>, <a href="https://bkrtr.de/Dw7XW" target="_blank">Strecke bei Bikerouter</a>)</td></tr>
            <tr><td>Alternative Strecke</td><td>St. Ottilien + Hirzberg, ca. 8km, 200hm, Waldwege & Trails (<a href="https://www.komoot.com/de-de/tour/2488345131" target="_blank">Strecke bei Komoot</a>)</td></tr>
            <tr><td></td><td>Je nach Nachfrage kann es in Zukunft auch weitere Strecken geben.</td></tr>
            <tr><td><b>Voraussetzungen?</b></td><td>Jeder ist willkommen mitzulaufen; gute Grundlagenausdauer (10km, 6min/km) wird vorausgesetzt.</td></tr>
            <tr><td><b>Sonstiges</b></td><td>Nach dem Lauf Besteht die Möglichkeit bei der <a href="https://ft1844-freiburg.de/hotel-gastronomie" target="_blank">HOKK-Sportgaststätte bzw. HOKK-Kiosk</a> einzukehren; hier gibt es diverse Getränke und Snacks; Toiletten sind vorhanden.</td></tr>
            <tr><td><b>Kontakt</b></td><td>Bei Fragen gerne per Mail <a href="mailto:info@freiburg.run">info@freiburg.run</a> oder über das <a href="{{Config.Contact.FeedbackForm}}" target="_blank">Kontaktformular</a> melden.</td></tr>
        </table>

        <div id="event-map" data-geo="47.991659,7.879987" data-name="Treffpunkt/Sandfangbrücke"></div>
    </div>
</section>

<section>
    <div class="container is-max-desktop">
        <h2 class="subtitle">Haftungs- und Teilnahmebedingungen</h2>

        <h3>1. Allgemeines / Charakter der Veranstaltung</h3>
        <p>
        Dies ist keine offizielle Wettkampfveranstaltung, sondern ein privater Lauf-/Trailtreff (z. B. Lauftreff, Streckencheck, Training, Event etc.).
        </p>
        <p>
        Die Teilnahme erfolgt ausschließlich auf eigene Gefahr und Verantwortung.
        </p>
        <p>
        Die Initiator:innen / Organisator:innen werden im Folgenden „Veranstalter“ genannt.
        </p>
        <h3>2. Risikoübernahme & Versicherung</h3>
        <p>
        Der Veranstalter stellt keinen Versicherungsschutz für Teilnehmende. Das bedeutet, dass weder Unfall-, Kranken- noch Haftpflichtversicherung durch den Veranstalter garantiert wird.
        </p>
        <p>
        Alle Hinweise, Anweisungen, Trainingsvorschläge und Streckenführungen erfolgen auf eigenes Risiko.
        </p>
        <p>
        Jeder/jede Teilnehmende versichert, dass der eigene Gesundheitszustand eine Teilnahme erlaubt und übernimmt die Verantwortung, vor der Teilnahme ggf. ärztlichen Rat einzuholen.
        </p>
        <h3>3. Haftung</h3>
        <p>
        Der Veranstalter haftet nicht für Schäden, Verletzungen oder Verlust, die im Zusammenhang mit der Teilnahme entstehen, sofern diese nicht vorsätzlich oder grob fahrlässig herbeigeführt wurden.
        </p>
        <p>
        Dies gilt auch für durch Dritte oder andere Teilnehmende verursachte Schäden, soweit keine grobe Fahrlässigkeit oder Vorsatz vorliegt.
        </p>
        <p>
        Der Veranstalter übernimmt keine Haftung für mitgebrachte Gegenstände oder persönliche Sachen.
        </p>
        <h3>4. Bild- / Videoaufnahmen und Veröffentlichung</h3>
        <p>
        Es können während der Veranstaltung Foto- und Videoaufnahmen gemacht werden.
        </p>
        <p>
        Diese Aufnahmen dürfen auf der Website {{Config.Website.Name}}, in sozialen Medien und für Öffentlichkeitsarbeit veröffentlicht werden.
        Wer nicht fotografiert oder gefilmt werden möchte bzw. nicht mit Veröffentlichung einverstanden ist, kann jederzeit Widerspruch einlegen – vor Ort oder per E-Mail.
        </p>
    </div>
</section>

{{template "footer.html" .}}