<div id="map-toggle">
    <button id="map-toggle-btn" class="button is-primary">Karte einblenden</button>
</div>

<div id="filter-form" class="mb-5">
    <div class="field has-addons">
        <div class="control has-icons-right">
            <input id="filter-input" class="input" type="text" placeholder="Filtern...">
            <span class="icon is-right">
                <button id="filter-button-cancel" class="delete"></button>
            </span>
        </div>
        <p id="filter-info" class="help is-hidden"></p>
    </div>
</div>