Hier sind die Fotoalben, Ergebnislisten und Laufberichte aller Events des Dietenbach parkrun (diese Seite wird wöchentlich aktualisiert):

<table class="Results-table">
    <thead>
        <tr>
            <th class="Results-table-th">Datum</th>
            <th class="Results-table-th">#</th>
            <th class="Results-table-th">Links</th>
        </tr>
    </thead>
    <tbody>{{range .Base.Data.ParkrunEvents}}
        <tr>
            <td class="Results-table-td">{{.Date}}</td>
            <td class="Results-table-td">{{if .Index}}#{{.Index}}{{end}}{{if .Special}}{{if .Index}} - {{end}}{{.Special}}{{end}}</td>
            <td class="Results-table-td">{{if .Results}}<a href="{{.Results}}">Ergebnisse</a>{{end}}{{if .Report}}{{if .Results}}, {{end}}<a href="{{.Report}}">Bericht{{if .Author}} ({{.Author}}){{end}}</a>{{end}}{{if .Photos}}{{if .Results}}, {{end}}<a href="{{.Photos}}">Fotos</a>{{end}}</td>
        </tr>{{end}}
    </tbody>
</table>