{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title">Dietenbach parkrun - Karte, Ergebnisse, Laufberichte, Fotogalerien</h1>

        <div class="columns">
            <div class="column">
                <div class="notification is-info is-light content">
                    Zu jedem Laufevent des <a href="https://www.parkrun.com.de/dietenbach/" target="_blank">Dietenbach parkrun</a> gibt es neben der Ergebnisliste auch einen Laufbericht und eine Fotogalerie.
                    Auf der parkrun-Hauptseite sind diese sehr schwer zu finden - deshalb liste ich alle Berichte und Fotogalerien hier auf.
                    <br /><br />
                    <b>Interessante Links:</b>
                    <ul>
                        <li><a href="https://running.flopp.net/2023/01/29/parkrun-barcode-auf-der-garmin-uhr/" target="_blank">Anleitung: Wie bekomme ich den parkrun-Barcode auf meine Garmin-Uhr?</a></li>
                        <li><a href="https://running.flopp.net/2023/03/25/ein-banner-fuer-den-dietenbach-parkrun/" target="_blank">Wie kam es zum Banner des Dietenbach parkrun?</a></li>
                        <li><a href="https://parkrun-map.com/" target="_blank">Karte mit allen parkruns (inoffiziell)</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="map-toggle">
            <button id="parkrun-map-toggle-btn" class="button is-primary">Karte zum Dietenbach parkrun einblenden</button>
        </div>

        <table class="table is-fullwidth is-narrow">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="is-hidden-mobile">Datum</th>
                    <th class="is-hidden-mobile">Teilnehmer</th>
                    <th class="is-hidden-mobile">Temp</th>
                    <th>Spezial</th>
                    <th>Links</th>
                </tr>
            </thead>
            <tbody>
                {{range .Parkrun}}
                <tr {{if .IsCurrentWeek}}class="parkrun-event is-selected"{{else}}class="parkrun-event"{{end}}>
                    <td>
                        <span class="is-hidden-mobile">
                            {{.Index}}
                        </span>
                        <span class="is-hidden-tablet">
                            #{{.Index}}<br>
                            <span class="is-size-7">{{.Date}}</span>
                        </span>
                    </td>
                    <td class="is-hidden-mobile">
                        {{.Date}}
                    </td>
                    <td class="is-hidden-mobile">
                        {{.Runners}}
                    </td>
                    <td class="is-hidden-mobile">
                        {{.Temp}}
                    </td>
                    <td data-label="Spezial">
                        <span class="is-hidden-mobile">
                            {{.Special}}
                        </span>
                        <span class="is-hidden-tablet">
                            {{if .Special}}
                            {{.Special}}
                            <br>
                            {{end}}
                            {{if .Runners}}
                            <span class="is-size-7">Teilnehmer: {{.Runners}}</span>
                            <br>
                            {{end}}
                            {{if .Temp}}
                            <span class="is-size-7">Temperatur: {{.Temp}}</span>
                            {{end}}
                        </span>
                    </td>
                    <td>
                        <div class="field has-addons is-hidden-mobile">
                            {{if .Results}}
                            <p class="control">
                                <a class="button no-external" href="{{.Results}}" target="_blank" title="Ergebnisse #{{.Index}}"><span class="icon"><i class="medal-icon"></i></span></a>
                            </p>
                            {{end}}
                            {{if .Report}}
                            <p class="control">
                                <a class="button no-external" href="{{.Report}}" target="_blank" title="Laufbericht #{{.Index}}"><span class="icon"><i class="report-icon"></i></span></a>
                            </p>
                            {{else if .Results}}
                            <p class="control">
                                <span disabled class="button no-external" title="Laufbericht #{{.Index}} (in Arbeit)"><span class="icon"><i class="report-icon"></i></span></span>
                            </p>
                            {{end}}
                            {{if .Photos}}
                            <p class="control">
                                <a class="button no-external" href="{{.Photos}}" target="_blank" title="Fotogalerie #{{.Index}}"><span class="icon"><i class="images-icon"></i></span></a>
                            </p>
                            {{end}}
                        </div>
                        <div class="is-hidden-tablet">
                            <div class="is-flex is-flex-direction-column">
                                {{if .Results}}
                                <a class="no-external" href="{{.Results}}" target="_blank" title="Ergebnisse #{{.Index}}">Ergebnisse</a>
                                {{end}}
                                {{if .Report}}
                                <a class="no-external" href="{{.Report}}" target="_blank" title="Laufbericht #{{.Index}}">Bericht</a>
                                {{else if .Results}}
                                <span disabled class="no-external" title="Laufbericht #{{.Index}} (in Arbeit)">(Bericht)</span>
                                {{end}}
                                {{if .Photos}}
                                <a class="no-external" href="{{.Photos}}" target="_blank" title="Fotogalerie #{{.Index}}">Fotos</a>
                                {{end}}
                            </div>
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</section>

{{template "footer.html" .}}