<!DOCTYPE html>
<html lang="de" data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="canonical" href="{{.Canonical}}" />

        {{range .CssFiles}}
        <link rel="stylesheet" href="{{BasePath .}}"/>
        {{end}}

        {{if Config.Umami.WebsiteId}}
        <script defer src="/{{.UmamiScript}}" data-website-id="{{Config.Umami.WebsiteId}}"></script>
        {{end}}
    </head>
    <body class="has-background-white">

<div id="embed-list" class="container is-fluid">
{{if .Events}}
    {{range .Events}}<a href="https://freiburg.run/{{.Slug}}?utm_source=embed_list" target="_blank" class="box">
        <b>{{.Name.Orig}}</b><br>
        {{if .Cancelled}}<span style="color: red;">{{.Status}}</span><br>{{end}}
        {{.Time.Formatted}}<br>
        {{.Location.Name}}
    </a>{{end}}
{{else}}
    <p>Keine passenden Veranstaltungen gefunden</p>
{{end}}
    <a  href="https://freiburg.run?utm_source=embed_list" target="_blank" class="box">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="{{BasePath "images/freiburg-run-new-blue.svg"}}" />
                </figure>
            </div>
            <div class="media-content is-italic">
                Bereitgestellt durch <b>{{Config.Website.Name}}</b>, letzte Aktualisierung: <span class="timestamp">{{.TimestampFull}}</span><br>
                {{Config.Website.Name}} ist eine Plattform zur Förderung des Laufsports in Freiburg und Umgebung.
            </div>
        </div>
    </a>
</div>

{{range .JsFiles}}
<script src="{{BasePath .}}"></script>
{{end}}
   </body>
</html>