{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="title" itemprop="name">{{.Title}}</h1>
        
        <div class="notification is-info is-light">
            Liste von <b>aktuellen und zukünftigen</b> Laufveranstaltungen, Lauf-Wettkämpfen, Volksläufen im Raum Freiburg / Südbaden.
            <br />
            Ist ein Eintrag fehlerhaft oder fehlt eine Veranstaltung? - bitte <a href="info.html#kontakt">melden</a>. 
            <br />
            <br />
            <a href="/events-old.html">Hier geht's zur Liste der vergangenen Veranstaltungen.</a>
        </div>

        <div class="columns is-multiline">
            {{range .Events}}
            {{if .IsSeparator}}
            <div class="column is-full">
                <div class="notification is-info is-light">{{.Name}}</div>
            </div>
            {{else}}
            {{template "card.html" .}}
            {{end}}
            {{end}}
        </div>
    </div>
</section>

{{template "footer.html" .}}