{{template "header.html" .}}

<section class="section">
    <div class="container">
        <a href="{{.Main}}">Zurück zur Liste</a>
        <h1 class="title">{{.Event.Name}}</h1>
        <table class="table">
            <tbody>
                <tr>
                    <td>Link</td>
                    <td>
                        <a href="{{.Event.Url}}" target="_blank">{{.Event.Url}}</a>
                    </td>
                </tr>
                <tr>
                    <td>Datum</td>
                    <td>{{.Event.Time}}</td>
                </tr>
                <tr>
                    <td>Ort</td>
                    <td>
                        {{if .Event.Geo}}
                        <a href="https://www.google.com/maps/place/{{.Event.Geo}}" target="_blank">{{.Event.Location}}</a>
                        {{else}}
                        {{.Event.Location}}
                        {{end}}
                    </td>
                </tr>
                <tr>
                    <td>Details</td>
                    <td>{{.Event.Details}}</td>
                </tr>
                {{if .Event.Reports}}
                <tr>
                    <td>Infos</td>
                    <td>
                        {{range .Event.Reports}}
                            <a class="tag is-link is-light" href="{{.Url}}" target="_blank">{{.Name}}</a>
                        {{end}}
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
        {{if .Event.Geo}}
        <div id="event-map" data-geo="{{.Event.Geo}}" data-name="{{.Event.Name}}"></div>
        {{end}}
    </div>
</section>

{{template "footer.html" .}}