{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="title" itemprop="name">{{.Title}}</h1>

        <div class="notification is-danger">
            Achtung: Dies ist eine Liste von <b>vergangenen</b> Laufveranstaltungen, Lauf-Wettkämpfen, Volksläufen im Raum Freiburg / Südbaden sortiert nach Datum.
            <br />
            <br />
            <a href="/">Hier geht's zur Liste der aktuellen Veranstaltungen.</a> 
        </div>

        <div class="columns is-multiline">   
            {{range .EventsOld}}
            {{if .IsSeparator}}
            <div class="column is-full">
                <div class="notification is-info is-light">{{.Name}}</div>
            </div>
            {{else}}
            {{template "card.html" .}}
            {{end}}
            {{end}}
        </div>
    </div>
</section>

{{template "footer.html" .}}