{{template "header.html" .}}

<section class="section">
    <div class="container">
        <h1 class="title">Laufveranstaltungen 2023 im Raum Freiburg / Südbaden</h1>
        <div class="notification is-info is-light">
            <strong>freiburg.run</strong> ist eine manuell zusammengestellte Liste von Laufveranstaltungen, Lauf-Wettkämpfen, Volksläufen fürs Jahr 2023 im Raum Freiburg / Südbaden.
            <br />
            Ist ein Eintrag fehlerhaft oder fehlt eine Veranstaltung? - bitte <a href="info.html#kontakt">melden</a>. 
        </div>

        <div id="map"></div>
        
        <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-fullwidth is-narrow">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Veranstaltung</th>
                            <th>Ort</th>
                            <th>Details</th>
                            <th>Serie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Events}}
                        <tr class="event" data-pending="0" data-geo="{{.Geo}}" data-name="{{.Name}}" data-location="{{.Location}}">
                            <td class="is-flex-wrap-wrap" data-label="Datum" class="is-flex-wrap-wrap">
                                {{.Time}}
                            </td>
                            <td class="is-flex-wrap-wrap" data-label="Veranstaltung" class="is-flex-wrap-wrap">
                                <a href="{{.Url}}" target="_blank">{{.Name}}</a>
                            </td>
                            <td class="is-flex-wrap-wrap" data-label="Ort" class="is-flex-wrap-wrap">
                                {{.Location}}
                            </td>
                            <td class="is-flex-wrap-wrap" data-label="Details" class="is-flex-wrap-wrap">
                                {{.Details}}
                                {{if .Reports}}<br />{{end}}
                                {{range .Reports}}
                                <a class="tag is-link is-light" href="{{.Url}}" target="_blank">{{.Name}}</a>
                                {{end}}
                            </td>
                            {{if .Series}}
                            <td class="is-flex-wrap-wrap" data-label="Serie" class="is-flex-wrap-wrap">
                                {{range .Series}}
                                <a class="tag is-link is-light" href="{{.Url}}" target="_blank">{{.Name}}</a>
                                {{end}}
                            </td>
                            {{else}}
                            <td></td>
                            {{end}}
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>

        {{if .EventsPending}}
        <div class="notification is-danger is-light mt-5">
            Bei folgenden Events ist noch nicht klar, ob oder wann genau sie stattfinden werden.<br>
            Für einige Veranstaltungen gibt es vorläufige Termine im <a href="https://www.athletics-web.info/blv-freiburg/pdfs/kreisterminplan_2023.pdf" target="_blank">Kreisterminplan des BLV</a>
            Für einige Veranstaltungen laufen Anfragen beim Veranstalter.
        </div>
        <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-fullwidth is-narrow">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Veranstaltung</th>
                            <th>Ort</th>
                            <th>Details</th>
                            <th>Serie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .EventsPending}}
                        <tr class="event" data-pending="1" data-geo="{{.Geo}}" data-name="{{.Name}}" data-location="{{.Location}}">
                            <td class="is-flex-wrap-wrap" data-label="Datum">
                                {{.Time}}
                            </td>
                            <td class="is-flex-wrap-wrap" data-label="Veranstaltung">
                                <a href="{{.Url}}" target="_blank">{{.Name}}</a>
                            </td>
                            <td class="is-flex-wrap-wrap" data-label="Ort">
                                {{.Location}}
                            </td>
                            {{if .Series}}
                            <td class="is-flex-wrap-wrap" data-label="Details">
                                {{.Details}}
                            </td>
                            <td class="is-flex-wrap-wrap" data-label="Serie">
                                {{range .Series}}
                                <a href="{{.Url}}" target="_blank">{{.Name}}</a>
                                {{end}}
                            </td>
                            {{else}}
                            <td class="is-flex-wrap-wrap" data-label="Details">
                                {{.Details}}
                            </td>
                            <td></td>
                            {{end}}
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        {{end}}
    </div>
</section>

{{template "footer.html" .}}