{{template "header.html" .}}

<section class="section">
    <div class="container">
        <h1 class="title">Vergangene Laufveranstaltungen im Raum Freiburg / Südbaden</h1>
        <div class="notification is-danger">
            Achtung: Dies ist eine Liste von <b>vergangenen</b> Laufveranstaltungen, Lauf-Wettkämpfen, Volksläufen im Raum Freiburg / Südbaden.
            <br />
            <br />
            <a href="/index.html">Hier geht's zur Liste der aktuellen Veranstaltungen.</a> 
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-max-desktop">
        <div class="columns is-multiline">   
            {{range .EventsOld}}
            {{template "card.html" .}}
            {{end}}
        </div>
    </div>
</section>

{{template "footer.html" .}}