{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="title" itemprop="name">{{.Title}}</h1>

        <div class="notification is-info is-light">
            Liste von Lauftreffs, Laufgruppen, Trainingsgruppen, Social Runs im Raum Freiburg (~50km Umkreis).
            <br />
            Ist ein Eintrag fehlerhaft oder fehlt ein Lauftreff? - bitte <a href="/info.html#kontakt">melden</a>. 
            <br /><br />
            Hinweis: Bevor man zum ersten Mal einen der Lauftreffs besucht, am Besten vorher den Veranstalter für Details kontaktieren. 
        </div>

        <div id="map-toggle">
            <button id="map-toggle-btn" class="button is-primary">Karte einblenden</button>
        </div>

        <div class="columns is-multiline">   
            {{range .Groups}}
            {{template "card.html" .}}
            {{end}}
        </div>
    </div>
</section>

{{template "footer.html" .}}
