{{template "header.html" .}}

<section class="section">
    <div class="container">
        <h1 class="title">Lauftreffs im Raum Freiburg / Südbaden</h1>
        <div class="notification is-info is-light">
            Liste von Lauftreffs, Laufgruppen, Trainingsgruppen, Social Runs im Raum Freiburg / Südbaden.
            <br />
            Ist ein Eintrag fehlerhaft oder fehlt ein Lauftreff? - bitte <a href="info.html#kontakt">melden</a>. 
            <br /><br />
            Hinweis: Bevor man zum ersten Mal einen der obigen Lauftreffs besucht, am Besten vorher den Veranstalter für Details kontaktieren. 
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-max-desktop">
        <div class="columns is-multiline">   
            {{range .Groups}}
            <div class="column is-half">
                <div class="card">
                    <a href="/group/{{.Slug}}.html">
                        <header class="card-header">
                            {{if .New}}
                            <p class="card-header-title has-background-success has-text-white">
                                {{.Name}} (neu hinzugefügt)
                            </p>
                            {{else}}
                            <p class="card-header-title">
                                {{.Name}}
                            </p>
                            {{end}}
                        </header>
                    </a>
                    <div class="card-content">
                        <div class="content">
                            {{.Time }} - {{if .Geo}}<a href="https://www.google.com/maps/place/{{.Geo}}" target="_blank">{{.Location}}</a>{{else}}{{.Location}}{{end}}
                            <br>
                            {{.Details}}
                            {{if .Reports}}
                            <br>
                            {{range .Reports}}
                            <a class="tag is-link is-light" href="{{.Url}}" target="_blank">{{.Name}}</a>
                            {{end}}
                            {{end}}
                        </div>
                    </div>
                    {{if .Url}}
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                <a href="{{.Url}}" target="_blank">Zum Lauftreff</a>
                            </span>
                        </p>
                    </footer>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>

{{template "footer.html" .}}
