<!DOCTYPE html>
<html lang="de" class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{.Title}} - freiburg.run</title>
        <meta name="description" content="{{.Description}}" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="canonical" href="{{.Canonical}}" />
        <meta name="theme-color" content="#3e8ed0">
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://freiburg.run/">
        <meta property="og:title" content="{{.Title}} - freiburg.run">
        <meta property="og:description" content="{{.Description}}">
        <meta property="og:image" content="/images/events2023.jpg">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://freiburg.run/">
        <meta property="twitter:title" content="{{.Title}} - freiburg.run">
        <meta property="twitter:description" content="{{.Description}}">
        <meta property="twitter:image" content="/images/events2023.jpg">

        {{range .CssFiles}}
        <link rel="stylesheet" href="/{{.}}"/>
        {{end}}
    </head>
    <body data-itemtype="{{.Type}}">
        <nav class="navbar is-info is-fixed-top z-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img alt="Logo freiburg.run" src="/images/freiburg-run.svg">&nbsp;<strong>freiburg.run</strong>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item {{if eq .Nav "events"}}is-active{{end}}" href="/">
                        Laufveranstaltungen
                    </a>
                    <a class="navbar-item {{if eq .Nav "groups"}}is-active{{end}}" href="/lauftreffs.html">
                        Lauftreffs
                    </a>
                    <a class="navbar-item {{if eq .Nav "shops"}}is-active{{end}}" href="/shops.html">
                        Shops
                    </a>
                    <a class="navbar-item {{if eq .Nav "info"}}is-active{{end}}" href="/info.html">
                        Info
                    </a>
                </div>
            </div>
        </nav>
