<!DOCTYPE html>
<html lang="de" class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{.Title}} - freiburg.run</title>
        <meta name="description" content="{{.Description}}" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="canonical" href="{{.Canonical}}" />
        <meta name="theme-color" content="#3e8ed0">

        {{if eq .Nav "parkrun"}}
        <link rel="me" href="https://freiburg.social/@dietenbachparkrun" />
        {{else}}
        <link rel="me" href="https://freiburg.social/@flopp" />
        {{end}}
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{.Canonical}}">
        <meta property="og:title" content="{{.Title}} - freiburg.run">
        <meta property="og:description" content="{{.Description}}">
        <meta property="og:image" content="/images/events2023.jpg">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{.Canonical}}">
        <meta property="twitter:title" content="{{.Title}} - freiburg.run">
        <meta property="twitter:description" content="{{.Description}}">
        <meta property="twitter:image" content="/images/events2023.jpg">

        {{range .CssFiles}}
        <link rel="stylesheet" href="/{{.}}"/>
        {{end}}
    </head>
    <body data-itemtype="{{.Type}}">
        <nav class="navbar is-info is-fixed-top z-top is-hidden-touch" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/index.html">
                    <img alt="Logo freiburg.run" src="/images/freiburg-run.svg">&nbsp;<strong>freiburg.run</strong>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarMain" class="navbar-menu">
                <div class="navbar-start">
                    <a id="nav-events" class="navbar-item {{if eq .Nav "events"}}is-active{{end}}" href="/index.html" title="Aktuelle Laufveranstaltungen">
                        Laufveranstaltungen
                    </a>
                    <a id="nav-events" class="navbar-item {{if eq .Nav "events-old"}}is-active{{end}}" href="/events-old.html" title="Vergangene Laufveranstaltungen">
                        <span class="icon"><i class="old-icon"></i></span>
                    </a>
                    <a id="nav-events" class="navbar-item {{if eq .Nav "tags"}}is-active{{end}}" href="/tags.html" title="Kategorien">
                        <span class="icon"><i class="tags-icon"></i></span>
                    </a>
                    <a id="nav-groups" class="navbar-item {{if eq .Nav "groups"}}is-active{{end}}" href="/lauftreffs.html">
                        Lauftreffs
                    </a>
                    <a id="nav-shops" class="navbar-item {{if eq .Nav "shops"}}is-active{{end}}" href="/shops.html">
                        Shops
                    </a>
                    <a id="nav-parkrun" class="navbar-item {{if eq .Nav "parkrun"}}is-active{{end}}" href="/dietenbach-parkrun.html">
                        Dietenbach parkrun
                    </a>
                    <a id="nav-map" class="navbar-item {{if eq .Nav "map"}}is-active{{end}}" href="/map.html">
                        Karte
                    </a>
                    <a id="nav-info" class="navbar-item {{if eq .Nav "info"}}is-active{{end}}" href="/info.html">
                        Info
                    </a>
                </div>
            </div>
        </nav>

        <nav class="navbar is-info is-fixed-top z-top is-hidden-desktop" role="navigation">
            <div class="navbar-brand">
                <a id="nav-events" class="navbar-item {{if eq .Nav "events"}}is-active{{end}}" href="/index.html">
                    Veranstaltungen
                </a>
                <a id="nav-groups" class="navbar-item {{if eq .Nav "groups"}}is-active{{end}}" href="/lauftreffs.html">
                    Lauftreffs
                </a>
                <a id="nav-parkrun" class="navbar-item {{if eq .Nav "parkrun"}}is-active{{end}}" href="/dietenbach-parkrun.html">
                    parkrun
                </a>
                <a id="nav-shops" class="navbar-item {{if eq .Nav "shops"}}is-active{{end}}" href="/shops.html">
                    <span class="icon"><i class="shop-icon"></i></span>
                </a>
                <a id="nav-info" class="navbar-item {{if eq .Nav "info"}}is-active{{end}}" href="/info.html">
                    <span class="icon"><i class="info-icon"></i></span>
                </a>
            </div>
        </nav>

        {{if .Breadcrumbs}}
        <section class="section pt-2 pb-0">
            <div class="container is-max-desktop">
                <nav class="breadcrumb">
                    <ul itemscope itemtype="https://schema.org/BreadcrumbList">
                        {{range .Breadcrumbs}}
                        <li {{if .IsLast}}class="is-active"{{end}} itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a href="{{.Link.Url}}" itemprop="item">
                                <span itemprop="name">{{.Link.Name}}</span>
                            </a>
                            <meta itemprop="position" content="{{.Position}}" />
                        </li>
                        {{end}}
                    </ul>
                </nav>
            </div>
        </section>
        {{end}}