<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{.Title}} - freiburg.run</title>
        <meta name="description" content="Liste von Laufveranstaltungen in Raum Freiburg / Südbaden" />
        <link rel="icon" type="image/png" href="favison.png" />
        <meta name="theme-color" content="#3e8ed0">
        {{range .CssFiles}}
        <link rel="stylesheet" href="{{.}}"/>
        {{end}}
    </head>
    <body>
        <nav class="navbar is-info is-fixed-top z-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="index.html">
                    <strong>freiburg.run</strong>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item {{if eq .Nav "events"}}is-active{{end}}" href="index.html">
                        Laufveranstaltungen
                    </a>
                    <a class="navbar-item {{if eq .Nav "info"}}is-active{{end}}" href="info.html">
                        Info
                    </a>
                </div>
            </div>
        </nav>
