{{template "header.html" .}}
<div id="big-map" data-city-name="{{Config.City.Name}}" data-city-lat="{{Config.City.Lat}}" data-city-lon="{{Config.City.Lon}}"></div>

<div class="is-hidden">
    {{range .Data.Events}}
    {{if .Location.HasGeo}}
    <div class="event" data-type="{{.NiceType}}" data-name="{{.Name.Orig}}" data-time="{{.Time.Formatted}}" data-geo="{{.Location.Geo}}" data-location="{{.Location.Name}}" data-slug="{{.Slug}}"></div>
    {{end}}
    {{end}}

    {{range .Data.EventsOld}}
    {{if .Location.HasGeo}}
    <div class="event" data-type="{{.NiceType}}" data-name="{{.Name.Orig}}" data-time="{{.Time.Formatted}}" data-geo="{{.Location.Geo}}" data-location="{{.Location.Name}}" data-slug="{{.Slug}}"></div>
    {{end}}
    {{end}}

    {{range .Data.Groups}}
    {{if .Location.HasGeo}}
    <div class="event" data-type="{{.NiceType}}" data-name="{{.Name.Orig}}" data-time="{{.Time.Formatted}}" data-geo="{{.Location.Geo}}" data-location="{{.Location.Name}}" data-slug="{{.Slug}}"></div>
    {{end}}
    {{end}}

    {{range .Data.Shops}}
    {{if .Location.HasGeo}}
    <div class="event" data-type="{{.NiceType}}" data-name="{{.Name.Orig}}" data-time="{{.Time.Formatted}}" data-geo="{{.Location.Geo}}" data-location="{{.Location.Name}}" data-slug="{{.Slug}}"></div>
    {{end}}
    {{end}}
</div>
{{template "tail.html" .}}