{{template "header.html" .}}
<div id="big-map"></div>

<div class="is-hidden">
    {{range .Events}}
    {{if .Location.HasGeo}}
    <div class="event" data-type="{{.NiceType}}" data-name="{{.Name}}" data-time="{{.Time}}" data-geo="{{.Location.Geo}}" data-location="{{.Location.Name}}" data-slug="{{.Slug}}"></div>
    {{end}}
    {{end}}

    {{range .EventsOld}}
    {{if .Location.HasGeo}}
    <div class="event" data-type="{{.NiceType}}" data-name="{{.Name}}" data-time="{{.Time}}" data-geo="{{.Location.Geo}}" data-location="{{.Location.Name}}" data-slug="{{.Slug}}"></div>
    {{end}}
    {{end}}

    {{range .Groups}}
    {{if .Location.HasGeo}}
    <div class="event" data-type="{{.NiceType}}" data-name="{{.Name}}" data-time="{{.Time}}" data-geo="{{.Location.Geo}}" data-location="{{.Location.Name}}" data-slug="{{.Slug}}"></div>
    {{end}}
    {{end}}

    {{range .Shops}}
    {{if .Location.HasGeo}}
    <div class="event" data-type="{{.NiceType}}" data-name="{{.Name}}" data-time="{{.Time}}" data-geo="{{.Location.Geo}}" data-location="{{.Location.Name}}" data-slug="{{.Slug}}"></div>
    {{end}}
    {{end}}
</div>
{{template "tail.html" .}}