{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="title" itemprop="name">{{.Base.Title}}</h1>

        <div class="notification is-link is-light">
            Liste von Sportgeschäften mit Laufschuhauswahl im Raum Freiburg (~50km Umkreis).
            <br />
            Ist ein Eintrag fehlerhaft oder fehlt ein Geschäft? - bitte <a href="/info.html#kontakt">melden</a>.
        </div>

        {{template "controls.html" .}}

        <div class="columns is-multiline">   
            {{range .Base.Data.Shops}}   
            {{template "card.html" .}}
            {{end}}
        </div>
    </div>
</section>

{{template "footer.html" .}}
