{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <div class="box">
            <h1 class="title gradient">Sitemap</h1>
            <div class="content">
                {{range .Categories}}
                <h2>{{.Name}}</h2>
                <ul>
                    {{range .Links}}
                    <li><a href="{{.Url}}">{{.Name}}</a></li>
                    {{end}}
                </ul>
                {{end}}
            </div>
        </div>
    </div>
</section>

{{template "footer.html" .}}