{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <div class="content">
            <div class="box">
                <h1>{{Config.Website.Name}} unterstützen?</h1>
                {{template "support-content.html" .}}
            </div>
            <div class="box">
                <h2 class="title">Sponsoren</h2>
                <p>
                    Ich freue mich sehr, dass folgende Sponsoren den Betrieb der Seite unterstützen:
                </p>
                <ul>
                    <li><em>COMING SOON...</em></li> 
                </ul>
            </div>
        </div>
    </div>
</section>

{{template "footer.html" .}}