{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop">
        <div class="content">
            <div class="box">
                <h1>{{Config.Website.Name}} unterstützen?</h1>
                <p>
                    Wenn dir <i>{{Config.Website.Name}}</i> gefällt und von Nutzen ist, kannst du die Webseite auf verschiedene Arten unterstützen:
                </p>
                <b>Spread the Word!</b>
                <p>
                    Weise deine Freunde und Lauf-Kollegen auf <i>{{Config.Website.Name}}</i> hin, teile Links zu <i>{{Config.Website.Name}}</i> auf Social Media oder verlinke die Seite auf deiner Webseite oder in deinem Blog. 
                </p>
                <b>Melde neue Events und Korrekturen</b>
                <p>
                    Hast du von einer neuen Laufveranstaltung oder Lauftreff erfahren, oder hast du einen Fehler auf <i>{{Config.Website.Name}}</i> gefunden? Melde dich bei mir - hier sind einige <a class="close" href="{{BasePath "/info.html#kontakt"}}">Kontaktmöglichkeiten</a>.
                </p>
                <b>Mach Verbesserungsvorschläge</b>
                <p>
                    Du hast einen Verbesserungsvorschlag oder eine Idee für ein neues Feature für <i>{{Config.Website.Name}}</i>? <a class="close" href="{{BasePath "/info.html#kontakt"}}">Melde dich bei mir</a>, dann schaue ich, ob es umzusetzen ist.
                </p>
                <b>Werfe mir ein paar Euros in den Hut</b>
                <p>
                    Du kannst dich natürlich auch finanziell am Betrieb beteiligen - Hosting und Domain werfen regelmäßige Kosten auf. Am einfachsten geht das per Paypal <a href="https://paypal.me/FPigorsch" target="_blank">paypal.me/FPigorsch</a>.
                </p>
                <p>
                    Danke & Grüße<br>
                    <i>Florian</i>
                </p>
            </div>
            <div class="box">
                <h2 class="title">Sponsoren</h2>

                <p class="block">
                    Ich freue mich sehr, dass folgende Sponsoren den Betrieb der Seite unterstützen:
                </p>

                <div class="columns is-multiline">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <a href="https://www.totemannberglauf.de/" target="_blank" class="no-external">
                                    <figure class="image is-square">
                                        <img src="{{BasePath "images/totemann-logo.png"}}" alt="Tote Mann Berglauf Logo" />
                                    </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Tote Mann Berglauf</p>
                                <p class="subtitle is-6">(PTSV Jahn Freiburg e.V.)</p>
                                <div class="content">
                                    <a href="https://www.totemannberglauf.de/" target="_blank">Webseite</a>
                                    <a href="https://www.instagram.com/tote.mann.berglauf/" target="_blank">Instagram</a>
                                    <br />
                                    <time datetime="2025-12-29">29.12.2025</time>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                <img src="{{BasePath "images/placeholder.png"}}" alt="Tote Mann Berglauf Logo" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Anke</p>
                                <div class="content">
                                    <time datetime="2024-05-22">22.05.2024</time>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <a href="https://pandarennt.wordpress.com/" target="_blank" class="no-external">
                                <figure class="image is-square">
                                <img src="{{BasePath "images/placeholder.png"}}" alt="Tote Mann Berglauf Logo" />
                                </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Andreas</p>
                                <div class="content">
                                    <a href="https://pandarennt.wordpress.com/" target="_blank">Webseite</a>
                                    <br />
                                    <time datetime="2024-02-07">07.02.2024</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>

{{template "footer.html" .}}