{{template "header.html" .}}

<section class="section">
    <div class="container is-max-desktop" itemscope itemtype="https://schema.org/ItemList">
        <h1 class="title" itemprop="name">{{.Title}}</h1>

        <div class="notification is-info is-light">
            Liste von Laufveranstaltungen, Lauf-Wettkämpfen, Volksläufen im Raum Freiburg / Südbaden, die in die <b>Kategorie '{{.Tag.Name}}'</b> einsortiert sind.
            <br />
            Ist ein Eintrag fehlerhaft oder fehlt eine Veranstaltung? - bitte <a href="/info.html#kontakt">melden</a>. 
            <br />
            <br />
            <a href="/tags.html">Hier geht's zur Liste <b>aller</b> Kategorien.</a>
            <br />
            <a href="/">Hier geht's zur Liste <b>aller</b> aktuellen und zukünftigen Veranstaltungen.</a>
        </div>

{{if .Tag.Events}}
        <div class="columns is-multiline">
            {{range .Tag.Events}}
            {{template "card.html" .}}
            {{end}}
        </div>
{{end}}

{{if .Tag.EventsOld}}
        <h2 class="title">Vergangene Laufveranstaltungen</h2>
        <div class="notification is-info is-light">
            In umgekehrt chronologischer Reihenfolge.
        </div>

        <div class="columns is-multiline">
            {{range .Tag.EventsOld}}
            {{template "card.html" .}}
            {{end}}
        </div>
{{end}}
    </div>
</section>

{{template "footer.html" .}}