<!DOCTYPE html>
<html lang="de" data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{.YearTitle}}</title>
        <meta name="description" content="{{.Base.Description}}" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="canonical" href="{{.Base.Canonical}}" />
        <link rel="manifest" href="/manifest.json" />
        <meta name="theme-color" content="#4455F6">

        <link rel="me" href="https://freiburg.social/@flopp" />

        {{range .Base.CssFiles}}
        <link rel="stylesheet" href="/{{.}}"/>
        {{end}}

        <script defer src="/{{.Base.Umami.Url}}" data-website-id="{{.Base.Umami.Id}}"></script>
    </head>
    <body data-itemtype="{{.Base.Type}}" class="has-navbar-fixed-top">

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title">Aktuelle Trail-Veranstaltungen</h1>
        <h2 class="subtitle">Bereitgestellt von freiburg.run</h2>

{{if .Tag.Events}}
        <div class="columns is-multiline">
            {{range .Tag.Events}}
            {{template "card.html" .}}
            {{end}}
        </div>
{{end}}
    </div>
</section>

{{range .Base.JsFiles}}
<script src="/{{.}}"></script>
{{end}}
   </body>
</html>